@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  /* text color */
  --btn-text: hsl(240, 75%, 98%);
  --light-text: hsl(0, 0%, 75%);
  --lighter-text: hsl(240, 75%, 98%);
  /* background colors */
  --bg-footer: hsl(243, 87%, 12%);
  --bg-section-blue: hsl(238, 22%, 44%);
  --bg-section-light-blue: hsl(240, 75%, 98%);
  /* button colors */
  --bg-btn-primary: hsl(224, 93%, 58%);
  --bg-btn-primary-hover: hsl(224, 93%, 68%);
  /* link colors */
  --link-secondary: hsl(170, 45%, 43%);
  --link-secondary-hover: hsl(170, 45%, 53%);
  --links-navbar-header: hsl(238, 22%, 44%);
  --link-footer-hover: hsl(224, 93%, 58%);
  /* other */
  --clr-box-shadow: hsla(210, 8%, 62%, 0.2);
  --clr-icon-boarder: hsl(240, 75%, 98%);
  /* font family */
  --ff-body: "Open Sans", sans-serif;
  --fw-400: 400;

  --ff-headings: "Raleway", sans-serif;
  --fw-600: 600;
  --fw-700: 700;
  /* font size */
  --fs-headings: clamp(1.7rem, 1vw + 1rem, 3rem);
  --fs-paragraphs: clamp(1rem, 0.1vw + 1rem, 1rem);
}

/* general styling */
body {
  font-family: var(--ff-body);
  font-size: var(--fs-paragraphs);
  font-weight: var(--fw-400);
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

article {
  padding: clamp(4rem, 10%, 8rem) 0;
}

/* reusable classes */
.img {
  display: block;
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 90rem;
  margin: 0 auto;
}

.container--footer {
  padding: 4rem 0;
}

.display-hidden {
  display: none;
}

.font-size-headings {
  font-size: var(--fs-headings);
  font-family: var(--ff-headings);
}

.font-size-paragraph {
  font-size: var(--ff-body);
}

.flex-text-wrapper {
  width: 60%;
  max-width: 33rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.btn {
  background-color: var(--bg-btn-primary);
  color: var(--btn-text);
  border: 0;
  border-radius: 0.2rem;
  padding: 0.7em 4em;
  cursor: pointer;
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--bg-btn-primary-hover);
}

.btn--section-three {
  padding: 0.7em 2em;
}

.input-email {
  width: 55%;
  min-width: 15rem;
  padding: 0.5em 0.7em;
}

.input-email::placeholder {
  color: var(--light-text);
}

/* grids */
.grid-two-columns {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto;
  align-items: center;
}

.grid-three-columns {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1fr;
  grid-template-rows: auto;
  margin-top: 2rem;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.header__logo {
  width: clamp(7rem, 8vw + 1rem, 9rem);
}

.header__links {
  display: flex;
  gap: 2rem;
}

.header__link {
  color: var(--links-navbar-header);
}

/* hero */
.main__hero {
  margin-bottom: 8rem;
}

.main__hero-cta-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

/* section two */
.main__section-two {
  background-color: var(--bg-section-light-blue);
  position: relative;
}

.section-two__bg-curve {
  content: " ";
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 5rem;
  width: 100%;
  top: -5rem;
  left: 0;
}

.main__section-two-text-wrapper {
  width: 70%;
  max-width: 36rem;
}

.main__section-two-link-container {
  display: flex;
  align-items: center;
  gap: 0.3em;
  position: relative;
  margin-bottom: 2em;
  width: 10.5rem;
}

.main__section-two-link,
.main__section-two-icon {
  display: block;
  color: var(--link-secondary);
}

.main__section-two-link::after {
  content: "";
  position: absolute;
  background-color: var(--link-secondary);
  left: 0;
  bottom: -0.3rem;
  height: 0.1rem;
  width: 10.3rem;
}

.main__section-two-link-container:hover .main__section-two-link,
.main__section-two-link-container:hover .main__section-two-icon {
  color: var(--link-secondary-hover);
  cursor: pointer;
}

/* ?: Connect the ::after element to the parent div */
.main__section-two-link:hover::after {
  background-color: var(--link-secondary-hover);
  cursor: pointer;
}

/* section two quote */
.main__section-two-quote-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  line-height: 1.5;
  width: 90%;
  max-width: 25rem;
  background-color: var(--);
  padding: 2em;
  border-radius: 0.5rem;
  box-shadow: var(--clr-box-shadow) 0 0.5rem 1.5rem;
}

.main__section-two-quote-img {
  width: 1rem;
}

.main__section-two-quote-text,
.main__section-two-cite-user-name {
  font-size: 0.9rem;
}

.main__section-two-cite-wrapper {
  display: flex;
  gap: 1em;
  align-items: center;
}

.main__section-two-cite-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.main__section-two-cite-user-name {
  font-style: normal;
  font-family: var(--ff-headings);
  font-weight: var(--fw-600);
}

.main__section-two-cite-user-info {
  display: block;
  font-size: 0.8rem;
}

/* section three */
.main__section-three {
  background-color: var(--bg-section-blue);
  color: var(--lighter-text);
}

.main__section-three-cta-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
}

.main__section-three-email-input {
  width: 80%;
}

/* footer */
footer {
  background-color: var(--bg-footer);
  color: var(--lighter-text);
}

.footer__logo {
  filter: brightness(0) invert(1);
  width: clamp(7rem, 7vw + 1rem, 8rem);
}

.footer__contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer__info-wrapper {
  display: flex;
  align-items: center;
  gap: 1em;
}

.footer__info-link {
  color: var(--lighter-text);
}

.footer__links-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 1em;
}

.footer__icons-wrapper {
  display: flex;
  gap: 1em;
}

.footer__icon {
  border: 0.09rem solid var(--clr-icon-boarder);
  padding: 0.5em;
  border-radius: 50%;
}

.footer__link,
.footer__icon {
  cursor: pointer;
}

.footer__link:hover,
.footer__link:focus-visible {
  color: var(--link-footer-hover);
}

.footer__icon:hover,
.footer__icon:focus-visible {
  color: var(--link-footer-hover);
  border-color: var(--link-footer-hover);
}

/* media queries */
@media (max-width: 50rem) {
  .grid-two-columns {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    gap: 3em;
  }

  .btn,
  .input-email {
    width: 100%;
  }

  .section-img {
    grid-row: 1;
    width: 80%;
    justify-self: center;
  }

  .main__hero-form-wrapper {
    display: flex;
    justify-content: center;
  }

  .main__hero-cta-wrapper {
    width: 90%;
    justify-content: center;
  }

  .flex-text-wrapper {
    width: 100%;
    text-align: center;
  }

  .main__section-two-paragraph,
  .main__section-two-quote-text {
    text-align: left;
  }

  .main__section-two-quote-wrapper {
    align-self: center;
  }

  .main__section-three-form-wrapper {
    width: 70%;
  }

  .grid-three-columns {
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
  }

  .footer__icons-wrapper {
    grid-column: span 2;
    justify-self: center;
  }
}

@media (max-width: 40rem) {
  .grid-three-columns {
    grid-template-columns: 1fr;
  }

  .footer__links-wrapper {
    grid-template-columns: 1fr;
  }

  .footer__icons-wrapper {
    grid-column: auto;
  }
}
